footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 10px 30px;
    font-size: 12px;
    color: var(--text-color-light);
}
footer img {
    height: 18px;
}