header {
    display: flex;
    flex-direction: column; 
    gap: 20px;
    padding: 20px var(--padding-w);
    background: var(--gradient-bg);
    box-shadow: 0 10px 20px var(--shadow-color);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

header #title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header #title #left {
    display: flex;
    gap: 15px;
}

header #title #left img {
    width: var(--header-logo-size);
    height: var(--header-logo-size);
}

header #title #left h1 {
    display: flex;
    align-items: center;
    font-size: 21px;
    font-weight: 800;
    color: var(--text-main-color);
}

header #title #left #refresh-button {
    width: 24px;
    height: 40px;
    border: none;
    background: url("../icons/sync-link.svg") no-repeat center;

}

header #title #left #refresh-button:hover {
    background-image: url("../icons/sync-hover.svg");
}

header #title #left #refresh-button:hover:after {
    content: "同步数据";
    margin-left: 34px;
    padding: 4px 8px;
    font-size: 10px;
    color: #fff;
    background-color: var(--highlight-color);
    white-space: nowrap;
    border-radius: 4px;
    line-height: 100%;
}

header #title #right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

header #nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 10px 5px;
}

header #nav .nav-button {
    font-size: 14px;
    border: none;
    color: var(--text-color);
    padding: 5px 10px;
    background-color: var(--text-color-light);
    border-radius: 15px;
    transition: all 0.3s ease;
    cursor: pointer;
}

header #nav .nav-button:hover {
    color: var(--text-main-color) !important;
    background-color: var(--highlight-color);
}

/*nav 当前点击后*/
header #nav .nav-button:active,
header #nav .nav-button:focus {
    color: var(--text-main-color) !important;
    background-color: var(--highlight-color);
    box-shadow: rgba(255, 114, 0, 0.25) 0px 10px 10px 0px;
}