/*宽度小于1200时*/
@media screen and (max-width: 1440px) {
    .card {
        flex-basis: calc(100% / 6 - 20px);
    }
}
@media screen and (max-width: 1200px) {
    .card {
        flex-basis: calc(100% / 5 - 20px);
    }
}
@media screen and (max-width: 980px) {
    .card {
        flex-basis: calc(100% / 4 - 20px);
    }
}
@media screen and (max-width: 900px) {
    .card {
        flex-basis: calc(100% / 3 - 20px);
    }
}
@media screen and (max-width: 740px) {
    .card {
        flex-basis: calc(100% / 2 - 20px);
    }
}
@media screen and (max-width: 410px) {
    header #title #right {
        display: none;
    }
    header #nav {
        flex-wrap: nowrap !important;
        overflow-x: auto;
        margin: 0 calc(0px - var(--padding-w));
        padding: 0 var(--padding-w);
        gap: 10px;
        }
    header #nav .nav-button {
        white-space: nowrap !important;
        font-size: 16px !important;
        padding: 6px 12px !important;
    }
    :root {
        --padding-w: 15px;
    }
}