:root {
    --background-color: #f2f2f2;
    --text-main-color: #333;
    --text-color: #888888;
    --text-color-light: #c8c8c8;
    --cord-color: #fff;
    --nav-bg-color: #fff;
    --highlight-color: #ff7200;
    --shadow-color: rgba(0, 0, 0, 0.1);
}
@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #333;
        --text-main-color: #fff;
        --text-color: #ccc;
        --text-color-light: #666;
        --cord-color: #222;
        --nav-bg-color: #222;
        --highlight-color: #ff7200;
        --shadow-color: rgba(0, 0, 0, 0.3);
    }
}