/* 
这里是全局样式，不要在这里写组件样式。
*/

/* 引入header.css */
@import url('header.css');
/* 引入footer.css */
@import url('footer.css');
/* 引入card.css */
@import url('card.css');
/* 引入fonts/Urbanist.css */
@import url('fonts/Urbanist.css');
/* 引入root.css */
@import url('root.css');
/* 引入responsive.css */
@import url('responsive.css');

/* 默认字体 */
body,h1, h2, p, span, small, a {
    font-family: 'Helvetica Neue', Arial, sans-serif;
}
* {
    box-sizing: border-box;
    line-height: 100%;
    padding: 0;
    margin: 0;
}

html,body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: var(--background-color) !important;
    position: relative;
    min-height: 100%;
    box-sizing: border-box; 
}

a {
    text-decoration: none;
    color: var(--text-main-color);
}

h1 {
    order: 0;
    z-index: 1;
    color: var(--text-main-color);
}

p {
    font-size: 10px;
    font-weight: 400;
    color: var(--text-color);
    line-height: 140%;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}
main {
    width: 100%;
    height: 100%;
    font-size:12px;
}
footer {
    padding: 20px var(--padding-w);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
}
.blur {
    background-color: var(--blur-bg-color);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
}