:root {
    --background-color: #f2f2f2;
    --text-main-color: #333;
    --text-color: #666;
    --text-color-light: #c8c8c8;
    --cord-color: #fff;
    --nav-bg-color: #fff;
    --highlight-color: #ff7200;
    --shadow-color: rgba(0, 0, 0, 0.1);
}